:root{
    --primary-color:#dadada;
    --secondary-color:#000000;
}
* {
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: HelveticaNow, Arial, sans-serif;
    /* font-family: 'Red Rose', cursive; */
}
/* .logo img{
    width: 5%;
    height: auto;
    clear: both;

} */
/* #icon{
    margin-right: 10px;
    margin-bottom: 1px;
} */
.navbar div{
    display: inline;
}
.dark{
    background: linear-gradient(to right, #123, #1c1817);
    color: #ffffff;
    }
#icon{
    width: 30px;
    cursor: pointer;
    float: right;
    margin-top: 0.5%;
    margin-right: 1%;
    /* margin-bottom: %; */
    /* padding-right: 2px; */
    /* margin: 0px 10px 0px 0px; */
}
#icon:hover{
    background-color: rgba(189, 183, 181, 0.8);
    
}
a{
    font-size: 12px;
    text-transform: uppercase;
} 

.navbar{
    background: #1c1817;
    font-size: 200%;
    font-family: 'Play', sans-serif;
}

.navbar::after{
    content: '';
    clear: both;
    display: flex;
}
nav ul{
    list-style: none;
    margin: 0;
}

.navbar > ul > li{
    float: left;
    position: relative;
}
.navbar ul li a {
    text-decoration: none;
    color: #ffffff;
    padding: 15px 20px;
    display: block;
}
.navbar ul li:hover a{
    background: rgb(250, 72, 2);
}
.navbar ul ul {
    position: absolute;
    padding: 0;
    min-width: 150px;
    display: none;
    top: 100%;
    left: 0%;
    /* font-size: 2000%; */
}
.navbar ul li:hover > ul{
    display: block;
}
.navbar ul ul li:hover a{
    background: #000000;
}
.navbar ul ul li{
    position: relative;
}
section div h1{
    border: none 10px;
    text-align: center;
    font-size: 300%;
}
#homelogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 60%;
}
.home h1 {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5%;
    font-size: 300%;
}
#rectangle {
    width: 100%;
    height: 33%;
    padding: 2.5%;
    margin: 3% 0% 1% 0%;
    background: #123;
}

.gear h3{
    text-align: center;
    font-size: larger;
    font-family: 'Red Rose', cursive;
}
.gear img{
    margin: 0.55%;
    width: 32%;
    height: auto;
    display: inline-block;
}
.apparel h3{
    
    text-align: center;
    font-size: larger;
    font-family: 'Red Rose', cursive;
}
.apparel img{
    margin: 0.55%;
    width: 32%;
    height:fit-content;
    height: auto;
    display: inline-block;
}
.button {
    width: 199px;
    height: 44px;
    font-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
    background-color: #000;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    box-shadow: 5px 10px 30px rgba(24, 139, 119, 0.2); 
}
.button:hover{
    background-color: rgb(250, 72, 2);
    transition: all ease 0.2s;
}
#footer {
    color: #ffffff;
    font-size: 100%;
    background: #000316;
    padding: 1%;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }
  
#footer .footer-top {
    padding: 60px 0 30px 0;
    background: #123;
  }
  
  #footer .footer-top .footer-contact {
    margin-bottom: 30px;
  }
#footer .raw{
    display: inline-block;
}
  
  #footer .footer-top .footer-contact h4 {
    font-size: 22px;
    margin: 0 0 30px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
    color: #2d405f;
  }
  
  #footer .footer-top .footer-contact p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Krub", sans-serif;
    color: #08224d;
  }
  
  #footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    color: #2d405f;
    position: relative;
    padding-bottom: 12px;
  }
  
  #footer .footer-top .footer-links {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #6c7afa;
    font-size: 18px;
    line-height: 1;
  }
  
  #footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  
  #footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
  }
  
  #footer .footer-top .footer-links ul a {
    color: #777777;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
  }
  
  #footer .footer-top .footer-links ul a:hover {
    text-decoration: none;
    color: #f45d01;
  }
  
  #footer .footer-newsletter {
    font-size: 15px;
  }
  
  #footer .footer-newsletter h4 {
    font-size: 16px;
    font-weight: bold;
    color: #2d405f;
    position: relative;
    padding-bottom: 12px;
  }
  
  #footer .footer-newsletter form {
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 5px;
    text-align: left;
    border: 1px solid #9da7fc;
  }
  
  #footer .footer-newsletter form input[type="email"] {
    border: 0;
    padding: 4px 8px;
    width: calc(100% - 100px);
  }
  
  #footer .footer-newsletter form input[type="submit"] {
    position: absolute;
    top: -1px;
    right: -2px;
    bottom: -1px;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background: #f45d01;
    color: #fff;
    transition: 0.3s;
    border-radius: 0 5px 5px 0;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }
  
  #footer .footer-newsletter form input[type="submit"]:hover {
    background: #f03000;
  }
  
  #footer .credits {
    padding-top: 5px;
    font-size: 13px;
    color: #444444;
  }
  
  #footer .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #e7eafe;
    color: rgb(14, 51, 88);
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 5px;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  
  #footer .social-links a:hover {
    background: #f45d01;
    color: #fff;
    text-decoration: none;
    box-sizing: border-box;
  }
.about p {
  text-align: center;
  font-size: 140%;
}
